<div class="sobre-nos-container">
  <div class="logo">
    <img src="assets/logo.png" alt="Ecofluid Logo" />
  </div>
  <h1>Sobre Nós</h1>

  <div class="conteudo">
    <div class="secao">
      <div class="icone">
        <img src="assets/icon-1.png" style="width: 150px;" alt="Ícone Missão" />
      </div>
      <h2>Missão</h2>
      <p>
        Desenvolver soluções modulares que viabilizem o uso sustentável e seguro
        da água, otimizando o consumo de recursos hídricos e assegurando economia
        financeira e sustentabilidade ambiental.
      </p>
    </div>

    <div class="secao">
      <div class="icone">
        <img src="assets/icon-2.png" style="width: 200px;" alt="Ícone Visão" />
      </div>
      <h2>Visão</h2>
      <p>
        Ser uma referência na integração de sustentabilidade, segurança hídrica e
        economia na gestão de água, oferecendo tecnologia modular adaptável que
        beneficie o cliente e o planeta, em áreas urbanas e rurais no Nordeste do
        Brasil.
      </p>
    </div>

    <div class="secao">
      <div class="icone">
        <img src="assets/icon-3.png" style="width: 190px;" alt="Ícone Valores" />
      </div>
      <h2>Valores</h2>
      <p>
        Sustentabilidade;<br />
        Economia de água;<br />
        Segurança no abastecimento.
      </p>
    </div>
  </div>
</div>
