<div class="container">
  <header class="header">
    <img src="assets/logo.png" alt="Ecofluid Logo" class="logo" />
    <nav class="nav">
      <a routerLink="/public/sobre-nos" class="nav-link" style="color: aliceblue;">Sobre nós</a>
      <a routerLink="/public/ouvidoria" class="nav-link" style="color: aliceblue;">Ouvidoria</a>
    </nav>
  </header>

  <main class="content">
    <h1>Sustentável para o planeta, econômico e seguro para você.</h1>
    <p>Transforme sua gestão de água!</p>
    <a routerLink="/public/servicos" class="cta-button">Conheça nossos serviços</a>
  </main>

  <aside class="graphic">
    <div class="circle"></div>
    <div class="square"></div>
  </aside>

  <!-- Nova seção "Quem somos?" -->
  <section class="quem-somos" style="background-color: #66ff66;">
    <div class="coluna-esquerda">
      <h2>Quem somos?</h2>
      <p>
        A Ecofluid é uma empresa especializada no gerenciamento e economia de recursos hídricos por meio de soluções modulares, desenvolvidas para promover uma gestão eficaz e segura da água.
        <br /><br />
        Com um forte compromisso com a sustentabilidade, a Ecofluid oferece sistemas que beneficiam tanto o cliente quanto o meio ambiente, proporcionando economia direta e segurança hídrica, adaptando-se às necessidades de áreas urbanas e rurais.
      </p>
    </div>
    <div class="coluna-direita">
      <img src="assets/img-1.png" alt="Ecofluid" />
    </div>
  </section>

</div>
