<div class="container">

  <!-- Nova seção "Serviços" -->
  <section class="servicos" id="services">
    <img src="assets/logo.png" alt="Ecofluid Logo" class="logo" />
    <h2>Oferecemos um serviço personalizado para atender sua necessidade!</h2>
    <p>Para começar, selecione qual serviço da EcoFluid você deseja conhecer melhor:</p>

    <div class="servicos-grid">
      <div class="servico-item">
        <img src="assets/img-2.png" alt="EcoFlow" />
        <h3>ECOFLOW</h3>
      </div>
      <div class="servico-item">
        <img src="assets/img-3.png" alt="EcoRural" />
        <h3>ECORURAL</h3>
      </div>
      <div class="servico-item">
        <img src="assets/img-4.png" alt="EcoDomus" />
        <h3>ECODOMUS</h3>
      </div>
    </div>
  </section>

  <!-- Nova seção "Quem somos?" -->
  <section class="quem-somos" style="margin-top: 50px !important; background-color: #66ff66;">
    <div class="coluna-esquerda">
      <h2>ECOFLOW</h2>
      <p>
        A linha Ecoflow oferece soluções modulares para captação e reutilização de água, ideais para condomínios, empresas e residências. Com tecnologia de captação de água da chuva e tratamento de águas cinzas, o Ecoflow proporciona uma alternativa econômica e sustentável, reduzindo o consumo de água potável e garantindo segurança hídrica em períodos de escassez.
      </p>
    </div>
    <div class="coluna-direita">
      <img src="assets/img-5.png" alt="Ecofluid" />
    </div>
  </section>

  <!-- Nova seção "Quem somos?" -->
  <section class="quem-somos" style="margin-top: 50px !important;">
    <div class="coluna-esquerda">
      <h2>ECORURAL</h2>
      <p>
        A linha Ecorural integra soluções robustas para captação e armazenamento de água, com poços modulares e sistema de irrigação eficiente. Adaptável a diferentes portes de propriedades rurais, o sistema oferece maior controle sobre os recursos hídricos, reduz custos e aumenta a produtividade agrícola por meio do uso inteligente e sustentável da água..
      </p>
    </div>
    <div class="coluna-direita">
      <img src="assets/img-6.png" alt="Ecofluid" />
    </div>
  </section>

  <!-- Nova seção "Quem somos?" -->
  <section class="quem-somos" style="margin-top: 50px !important; background-color: #66ff66;">
    <div class="coluna-esquerda">
      <h2>ECODOMUS</h2>
      <p>
        A linha EcoDomus oferece uma solução modular e escalável para condomínios residenciais e comerciais, garantindo autonomia hídrica e segurança no abastecimento. Com poços modulares para captação, tratamento e distribuição de água subterrânea, a EcoDomus reduz a dependência de fontes externas e promove o uso responsável da água, gerando economia e sustentabilidade.
      </p>
    </div>
    <div class="coluna-direita">
      <img src="assets/img-7.png" alt="Ecofluid" />
    </div>
  </section>
</div>
